<ion-header>
  <ion-toolbar color ="dark">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <hr>
  <ion-icon color="light" name="arrow-back-outline" routerLink="/tabs/tab1"></ion-icon>
  <div class ="flex-center">

    <ion-card>
      <ion-card-header>
        <ion-card-title>Registrar</ion-card-title>
      </ion-card-header>

      <ion-card-content>

          <ion-item>
          <ion-label class = "card-label" position="floating" >Nome Completo:</ion-label>
          <ion-input placeholder="Entre com seu nome" type="text"></ion-input>

          </ion-item>


          <ion-item>
        <ion-label class = "card-label" position="floating" >CPF:</ion-label>
        <ion-input placeholder="Entre com seu CPF:" type="number"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label class = "card-label" position="floating">Nascimento:</ion-label>
        <ion-input placeholder="Entre com a Data de Nascimento:" type="date"></ion-input>

      </ion-item>


      <ion-item>
      <ion-label class = "card-label" position="floating">Email:</ion-label>
      <ion-input placeholder="Entre com seu Email" type="email"></ion-input>
    </ion-item>

  <ion-item>
    <ion-label class = "card-label" position="floating">Senha:</ion-label>
    <ion-input placeholder="Entre com sua senha" type="password"></ion-input>
  </ion-item>

<ion-item>
  <ion-label class = "card-label" position="floating">Confirmação de senha:</ion-label>
  <ion-input placeholder="Confirme sua senha" type="password"></ion-input>
</ion-item>



<br>

<ion-button color="medium" size="full">CRIAR REGISTRO</ion-button>


    </ion-card-content>
    </ion-card>
  </div>


</ion-content>
